/* Never thought I'd need these, but... CSS Variables */
/* :root {
    --resizeDistance: 0;
} */

/* Windows */
#window-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.window {
    overflow: visible;
    display: flex;
    flex-direction: column;
}
.window-detached {
    position: absolute;
}

.window-resizers {
    position: absolute;
    display: contents;
}

/* Containers */
.container {
    display: flex;
}
.container-h {
    flex-direction: row;
}
.container-v {
    flex-direction: column;
}
.container-windows {
    position: relative;
    float: left;
    display: flex;
    flex-flow: row nowrap;
}