/* Never thought I'd need these, but... CSS Variables */
:root {
    --resizeDistance: 0;
}

/* Windows */
#window-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.window {
    overflow: visible;
    display: flex;
    flex-direction: column;
}
.window-detached {
    position: absolute;
}

.window-resizers {
    position: absolute;
    display: contents;
}
.window-resize {
    position: absolute;
}
.window-resizeV {
    width: calc(100% + 2 * var(--resizeDistance));
    height: var(--resizeDistance);
    left: calc(0px - var(--resizeDistance));
}
.window-resizeH {
    width: var(--resizeDistance);
    height: calc(100% + 2 * var(--resizeDistance));
    top: calc(0px - var(--resizeDistance));
}
.window-resizeTop {
    bottom: 100%;
}
.window-resizeBottom {
    top: 100%;
}
.window-resizeLeft {
    right: 100%;
}
.window-resizeRight {
    left: 100%;
}

.window-draggable {
    touch-action: none;
    user-select: none;
}

/* Containers */
.container {
    display: flex;
}
.container-h {
    flex-direction: row;
}
.container-v {
    flex-direction: column;
}
.container-windows {
    position: relative;
    float: left;
    display: flex;
    flex-flow: row nowrap;
}